ConquiánCliente/Connected Services/ConquianService/Conqui%C3%A1nServidor.Conqui%C3%A1nDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Conqui%C3%A1nDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Conqui%C3%A1nDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friendship" nillable="true" type="tns:ArrayOfFriendship" />
      <xs:element minOccurs="0" name="Friendship1" nillable="true" type="tns:ArrayOfFriendship" />
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:ArrayOfGame" />
      <xs:element minOccurs="0" name="Social" nillable="true" type="tns:ArrayOfSocial" />
      <xs:element minOccurs="0" name="currentPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfFriendship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friendship" nillable="true" type="tns:Friendship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendship" nillable="true" type="tns:ArrayOfFriendship" />
  <xs:complexType name="Friendship">
    <xs:sequence>
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="idDestino" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idFriendship" type="xs:int" />
      <xs:element minOccurs="0" name="idOrigen" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idStatus" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friendship" nillable="true" type="tns:Friendship" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friendship" nillable="true" type="tns:ArrayOfFriendship" />
      <xs:element minOccurs="0" name="Status1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gamemode" nillable="true" type="tns:Gamemode" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="gameTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idGame" type="xs:int" />
      <xs:element minOccurs="0" name="idGamemode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idPlayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Gamemode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:ArrayOfGame" />
      <xs:element minOccurs="0" name="gamemode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idGamemode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gamemode" nillable="true" type="tns:Gamemode" />
  <xs:complexType name="ArrayOfSocial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Social" nillable="true" type="tns:Social" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocial" nillable="true" type="tns:ArrayOfSocial" />
  <xs:complexType name="Social">
    <xs:sequence>
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="SocialType" nillable="true" type="tns:SocialType" />
      <xs:element minOccurs="0" name="idPlayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idSocial" type="xs:int" />
      <xs:element minOccurs="0" name="idSocialType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="userLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Social" nillable="true" type="tns:Social" />
  <xs:complexType name="SocialType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Social" nillable="true" type="tns:ArrayOfSocial" />
      <xs:element minOccurs="0" name="idSocialType" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialType" nillable="true" type="tns:SocialType" />
</xs:schema>