ConquiánCliente/Connected Services/ConquianService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SignUp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Conqui%C3%A1nDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISignUp_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="ISignUp_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISignUp_SendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="ISignUp_SendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISignUp">
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUp/RegisterPlayer" message="tns:ISignUp_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUp/RegisterPlayerResponse" message="tns:ISignUp_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUp/SendVerificationCode" message="tns:ISignUp_SendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUp/SendVerificationCodeResponse" message="tns:ISignUp_SendVerificationCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISignUp" type="tns:ISignUp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterPlayer">
      <soap:operation soapAction="http://tempuri.org/ISignUp/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCode">
      <soap:operation soapAction="http://tempuri.org/ISignUp/SendVerificationCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignUp">
    <wsdl:port name="BasicHttpBinding_ISignUp" binding="tns:BasicHttpBinding_ISignUp">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Conqui%C3%A1nServidor/SignUp/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>