ConquiánCliente/Connected Services/ServiceUserProfile/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserProfile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Conqui%C3%A1nDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfile_GetPlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProfile">
    <wsdl:operation name="GetPlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerProfile" message="tns:IUserProfile_GetPlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerProfileResponse" message="tns:IUserProfile_GetPlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerProfile" message="tns:IUserProfile_UpdatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerProfileResponse" message="tns:IUserProfile_UpdatePlayerProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserProfile" type="tns:IUserProfile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayerProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/GetPlayerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/UpdatePlayerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfile">
    <wsdl:port name="BasicHttpBinding_IUserProfile" binding="tns:BasicHttpBinding_IUserProfile">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Conqui%C3%A1nServidor/UserProfile/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>