ConquiánCliente/Connected Services/ServiceUserProfile/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserProfile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfile_GetPlayerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerById" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerSocials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerSocials" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerSocials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerSocialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerSocials_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerSocials" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerSocials_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerSocialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdateProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdateProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePictureResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProfile">
    <wsdl:operation name="GetPlayerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerById" message="tns:IUserProfile_GetPlayerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerByIdResponse" message="tns:IUserProfile_GetPlayerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayer" message="tns:IUserProfile_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerResponse" message="tns:IUserProfile_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerSocials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerSocials" message="tns:IUserProfile_GetPlayerSocials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerSocialsResponse" message="tns:IUserProfile_GetPlayerSocials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerSocials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerSocials" message="tns:IUserProfile_UpdatePlayerSocials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerSocialsResponse" message="tns:IUserProfile_UpdatePlayerSocials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdateProfilePicture" message="tns:IUserProfile_UpdateProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdateProfilePictureResponse" message="tns:IUserProfile_UpdateProfilePicture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserProfile" type="tns:IUserProfile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayerById">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/GetPlayerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerSocials">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/GetPlayerSocials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerSocials">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/UpdatePlayerSocials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IUserProfile/UpdateProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfile">
    <wsdl:port name="BasicHttpBinding_IUserProfile" binding="tns:BasicHttpBinding_IUserProfile">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Conqui%C3%A1nServidor/UserProfile/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>