ConquiánCliente/Connected Services/ServiceFriendList/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendList" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendList_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendList_GetPlayerByNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByNickname" />
  </wsdl:message>
  <wsdl:message name="IFriendList_GetPlayerByNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendList_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendList_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendList_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendList_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendList_GetFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendList_GetFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendList_UpdateFriendRequestStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendRequestStatus" />
  </wsdl:message>
  <wsdl:message name="IFriendList_UpdateFriendRequestStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendRequestStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendList_DeleteFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendList_DeleteFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendList">
    <wsdl:operation name="GetPlayerByNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendList/GetPlayerByNickname" message="tns:IFriendList_GetPlayerByNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendList/GetPlayerByNicknameResponse" message="tns:IFriendList_GetPlayerByNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendList/GetFriends" message="tns:IFriendList_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendList/GetFriendsResponse" message="tns:IFriendList_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendList/SendFriendRequest" message="tns:IFriendList_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendList/SendFriendRequestResponse" message="tns:IFriendList_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendList/GetFriendRequests" message="tns:IFriendList_GetFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendList/GetFriendRequestsResponse" message="tns:IFriendList_GetFriendRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendRequestStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendList/UpdateFriendRequestStatus" message="tns:IFriendList_UpdateFriendRequestStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendList/UpdateFriendRequestStatusResponse" message="tns:IFriendList_UpdateFriendRequestStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendList/DeleteFriend" message="tns:IFriendList_DeleteFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendList/DeleteFriendResponse" message="tns:IFriendList_DeleteFriend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendList" type="tns:IFriendList">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendList_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPlayerByNickname">
      <soap12:operation soapAction="http://tempuri.org/IFriendList/GetPlayerByNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendList/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendList/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendList/GetFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendRequestStatus">
      <soap12:operation soapAction="http://tempuri.org/IFriendList/UpdateFriendRequestStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendList/DeleteFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendList">
    <wsdl:port name="NetTcpBinding_IFriendList" binding="tns:NetTcpBinding_IFriendList">
      <soap12:address location="net.tcp://localhost:9001/Conqui%C3%A1nServidor/FriendList/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/Conqui%C3%A1nServidor/FriendList/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>