ConquiánCliente/Connected Services/ServiceLobby/Conqui%C3%A1nServidor.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LobbyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerDto" />
      <xs:element minOccurs="0" name="RoomCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusLobby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idHostPlayer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyDto" nillable="true" type="tns:LobbyDto" />
  <xs:complexType name="ArrayOfPlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDto" nillable="true" type="tns:PlayerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDto" nillable="true" type="tns:ArrayOfPlayerDto" />
  <xs:complexType name="PlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pathPhoto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDto" nillable="true" type="tns:PlayerDto" />
  <xs:complexType name="MessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDto" nillable="true" type="tns:MessageDto" />
  <xs:complexType name="ArrayOfMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageDto" nillable="true" type="tns:MessageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageDto" nillable="true" type="tns:ArrayOfMessageDto" />
</xs:schema>