ConquiánCliente/Connected Services/ServiceLobby/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Lobby" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobby_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobby_GetLobbyState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLobbyState" />
  </wsdl:message>
  <wsdl:message name="ILobby_GetLobbyState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLobbyStateResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobby_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_JoinAndSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinAndSubscribe" />
  </wsdl:message>
  <wsdl:message name="ILobby_JoinAndSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinAndSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_LeaveAndUnsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveAndUnsubscribe" />
  </wsdl:message>
  <wsdl:message name="ILobby_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ILobby_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_PlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoined" />
  </wsdl:message>
  <wsdl:message name="ILobby_PlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerLeft" />
  </wsdl:message>
  <wsdl:message name="ILobby_HostLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HostLeft" />
  </wsdl:message>
  <wsdl:message name="ILobby_MessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MessageReceived" />
  </wsdl:message>
  <wsdl:portType name="ILobby">
    <wsdl:operation name="GetLobbyState">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobby/GetLobbyState" message="tns:ILobby_GetLobbyState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/GetLobbyStateResponse" message="tns:ILobby_GetLobbyState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobby/CreateLobby" message="tns:ILobby_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/CreateLobbyResponse" message="tns:ILobby_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinAndSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobby/JoinAndSubscribe" message="tns:ILobby_JoinAndSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/JoinAndSubscribeResponse" message="tns:ILobby_JoinAndSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveAndUnsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobby/LeaveAndUnsubscribe" message="tns:ILobby_LeaveAndUnsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobby/SendMessage" message="tns:ILobby_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/SendMessageResponse" message="tns:ILobby_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/PlayerJoined" message="tns:ILobby_PlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/PlayerLeft" message="tns:ILobby_PlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/HostLeft" message="tns:ILobby_HostLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobby/MessageReceived" message="tns:ILobby_MessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobby" type="tns:ILobby">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobby_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLobbyState">
      <soap12:operation soapAction="http://tempuri.org/ILobby/GetLobbyState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobby/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinAndSubscribe">
      <soap12:operation soapAction="http://tempuri.org/ILobby/JoinAndSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveAndUnsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ILobby/LeaveAndUnsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobby/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/ILobby/PlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/ILobby/PlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostLeft">
      <soap12:operation soapAction="http://tempuri.org/ILobby/HostLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageReceived">
      <soap12:operation soapAction="http://tempuri.org/ILobby/MessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lobby">
    <wsdl:port name="NetTcpBinding_ILobby" binding="tns:NetTcpBinding_ILobby">
      <soap12:address location="net.tcp://localhost:9001/Conqui%C3%A1nServidor/Lobby/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/Conqui%C3%A1nServidor/Lobby/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>