ConquiánCliente/Connected Services/ServicePasswordRecovery/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PasswordRecoveryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPasswordRecovery_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPasswordRecovery_RequestPasswordRecovery_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordRecovery" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecovery_RequestPasswordRecovery_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordRecoveryResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecovery_ValidateRecoveryToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateRecoveryToken" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecovery_ValidateRecoveryToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateRecoveryTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecovery_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IPasswordRecovery_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IPasswordRecovery">
    <wsdl:operation name="RequestPasswordRecovery">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecovery/RequestPasswordRecovery" message="tns:IPasswordRecovery_RequestPasswordRecovery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecovery/RequestPasswordRecoveryResponse" message="tns:IPasswordRecovery_RequestPasswordRecovery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateRecoveryToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecovery/ValidateRecoveryToken" message="tns:IPasswordRecovery_ValidateRecoveryToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecovery/ValidateRecoveryTokenResponse" message="tns:IPasswordRecovery_ValidateRecoveryToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordRecovery/ResetPassword" message="tns:IPasswordRecovery_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordRecovery/ResetPasswordResponse" message="tns:IPasswordRecovery_ResetPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPasswordRecovery" type="tns:IPasswordRecovery">
    <wsp:PolicyReference URI="#NetTcpBinding_IPasswordRecovery_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RequestPasswordRecovery">
      <soap12:operation soapAction="http://tempuri.org/IPasswordRecovery/RequestPasswordRecovery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRecoveryToken">
      <soap12:operation soapAction="http://tempuri.org/IPasswordRecovery/ValidateRecoveryToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/IPasswordRecovery/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordRecoveryService">
    <wsdl:port name="NetTcpBinding_IPasswordRecovery" binding="tns:NetTcpBinding_IPasswordRecovery">
      <soap12:address location="net.tcp://localhost:9001/Conqui%C3%A1nServidor/PasswordRecoveryService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/Conqui%C3%A1nServidor/PasswordRecoveryService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>